node_modules/
build/
env/
*.egg-info/
*.egg
*.py[co]
__pycache__/
*~
*.idea/
# due to using tox and pytest
.tox
.cache
.DS_Store
._.DS_Store
.pypirc
.db
.babelrc
karma.conf*
*suchpy_tests_log.txt
*suchpy_log

.txt
reporting.db
/uploads
webpack.config*
scratch.py
_archive/*
.vscode/
setup_mac_installer.py
crate.icns
dist/supplychain.app/*