node_modules/
build/
dist/
env/
*.egg-info/
*.egg
*.py[co]
__pycache__/
*~
*.idea/
# due to using tox and pytest
.tox
.cache
.DS_Store
._.DS_Store
.pypirc
.db
.babelrc
karma.conf*
package.json
docs/
npm*
*suchpy_tests_log.txt
*suchpy_log.txt
reporting.db
/uploads
coverage
_build/
webpack.config*
scratch.py
_archive/*