node_modules/
# general things to ignore
build/
dist/
env/
*.egg-info/
*.egg
*.py[co]
__pycache__/
*~
.idea/
# due to using tox and pytest
.tox
.cache
.DS_Store
._.DS_Store
.pypirc
.db
.babelrc
karma.conf*
package.json
docs/
npm*