alabaster==0.7.9
alembic==0.8.8
amqp==1.4.9
anaconda-client==1.2.2
aniso8601==1.2.0
anyjson==0.3.3
appnope==0.1.0
Babel==2.3.4
behave==1.2.5
billiard==3.3.0.23
blinker==1.4
bubbles==0.1
celery==3.1.23
click==6.6
clyent==1.2.0
coverage==4.0
cubes==1.0.1
cycler==0.10.0
Cython==0.25.1
decorator==4.0.10
docutils==0.12
entrypoints==0.2.2
extras==1.0.0
fixtures==3.0.0
Flask==0.11.1
Flask-DebugToolbar==0.10.0
Flask-Migrate==1.8.0
Flask-RESTful==0.3.5
Flask-Restless==0.17.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.1
Flask-WTF==0.13.1
fuzzywuzzy==0.12.0
gpgkeys==1.23
imagesize==0.7.1
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
Kivy==1.9.1
Kivy-Garden==0.1.4
kmd==2.2
kombu==3.0.35
linecache2==1.0.0
Mako==1.0.6
MarkupSafe==0.23
marshmallow==2.7.3
marshmallow-jsonapi==0.7.1
matplotlib==1.5.1
mimerender==0.6.0
mistune==0.7.3
mock==2.0.0
nbconvert==4.2.0
nbformat==4.1.0
nltk==3.2.1
notebook==4.2.2
numpy==1.11.2
pandas==0.19.1
pandoc==1.0.0b2
parse==1.6.6
parse-type==0.3.4
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
pkginfo==1.2.1
ply==3.9
pockets==0.3
prompt-toolkit==1.0.7
ptyprocess==0.5.1
py==1.4.31
pygame==1.9.2b6
Pygments==2.1.3
pyparsing==2.1.4
pytest==2.9.1
python-dateutil==2.6.0
python-editor==1.0.1
python-mimeparse==1.6.0
python-subunit==1.2.0
pytz==2016.7
PyYAML==3.11
pyzmq==15.4.0
qtconsole==4.2.1
requests==2.9.1
requests-toolbelt==0.6.0
rl==2.4
scikit-learn==0.18.1
scipy==0.18.1
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
sphinx-rtd-theme==0.1.9
sphinxcontrib-napoleon==0.5.3
SQLAlchemy==1.1.3
sure==1.4.0
term==2.1
terminado==0.6
testtools==2.2.0
textblob==0.11.1
tornado==4.4.2
traceback2==1.4.0
traitlets==4.3.0
twine==1.6.5
unittest2==1.1.0
vmprof==0.3.3
wcwidth==0.1.7
Werkzeug==0.11.11
wheel==0.29.0
widgetsnbextension==1.2.6
WTForms==2.1
