Cython==0.27.3
Flask==0.12.2
Flask-RESTful==0.3.6
Flask-Restless==0.17.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
nltk==3.2.5
numpy==1.14.0
pandas==0.22.0
scipy==1.0.0
simplejson==3.13.2
SQLAlchemy==1.2.3
textblob==0.15.1
WTForms==2.1
Sphinx==1.7.0
sphinx-rtd-theme==0.2.4
sphinxcontrib-napoleon==0.6.1