numpy
py==1.4.30
pytest==2.8.2CDApplet==1.0
CDBashApplet==1.0
Django==1.8.6
PAM==0.4.2
Pillow==2.3.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
gyp==0.1
html5lib==0.999
httplib2==0.8
lxml==3.3.3
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
pexpect==3.1
piston-mini-client==0.7.5
pluggy==0.3.1
psutil==1.2.1
psycopg2==2.6.1
py==1.4.30
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu1
python-debian==0.1.21-nmu2ubuntu2
pyxdg==0.25
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
six==1.5.2
software-center-aptd-plugins==0.0.0
tox==2.1.1
urllib3==1.7.1
vboxapi==1.0
virtualenv==1.11.4
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
