alabaster==0.7.7
Babel==2.2.0
coverage==4.0
docutils==0.12
Jinja2==2.8
MarkupSafe==0.23
numpy==1.10.4
pockets==0.3
Pygments==2.1
pytz==2015.7
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
sphinxcontrib-napoleon==0.4.4
wheel==0.29.0
cython==0.23.4

