@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700|Roboto+Slab);

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Solarized Palette - http://ethanschoonover.com/solarized ---------
  lightgray      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  cyan           : #259286;
  green          : #738A05; */


body {
    background-color: #475B62;
    color: #708284;
    font-family: "Roboto Slab";
    font-size: 0.8em;
}


.content{
  padding-top: 70px;
}

.card{
    background-color: white;
    color: black;
    box-shadow: 10px 5px 5px black;
    margin-left: 3pc;
    margin-right: 3pc;
    margin-top: 5pc;
    min-height: 390px;
    min-width: 500px;
    opacity: 0.8;
    float: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}
th, td {
    padding: 1px;
}

#ia{
    margin-left: 81px;
    float: left;
}

table#ia tr:nth-child(even) {
    background-color: #FCF4DC;
}
table#ia tr:nth-child(odd) {
    background-color: #fff;
}
table#ia th {
    color: #8dc53e;
    background-color: #536870;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #8dc53e;
  font-size: 1.75em;
  margin-bottom: .4em;
}

.highlight{
    color: #D11C24 ;
    font-weight: 600;
}
