@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700|Roboto+Slab);

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* Solarized Palette - http://ethanschoonover.com/solarized ---------
  lightgray      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  cyan           : #259286;
  green          : #738A05; */

body {
    background-color: black;

    color: #708284;
    font-family: "Roboto Slab";
    font-size: 0.8em;
}

.content {
    padding-top: 40px;
    padding-left: 30px;
    height: 2000px;
    background-color: #0A2933;
    transition: transform3d 0.4s ease;

}

.active-nav .content {
    transform: translate3d(200px, 0, 0);

}

.card {
    padding-left: 20px;
    margin-left: -40px;
    margin-top: 10px;
    margin-bottom: 30px;
    min-width: 100pc;
    float: left;
    color: #042029;
    opacity: .8;
}

table, th, td {
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    padding: 1px;
    text-align: center;
}

.ia {
    margin-top: 20px;
    float: left;
}

table.ia tr:nth-child(even) {
    background-color: #042029;

}

table.ia tr:nth-child(odd) {
    background-color: #0A2933;;
}

table.ia th {
    font-size: 1.2em;
    color: white;
    background-color: transparent;
    font-family: "Roboto Slab";
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    color: white;

    margin-bottom: .4em;
}

h2 {
    font-size: 1.8em;
}

.highlight {
    color: #D11C24;
    font-weight: 600;
}

.left {
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    transition: width ease .5s;
    margin-right: 300px;

}

body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #080808;
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease;

}

nav ul {
    list-style: none;
    margin-top: 100px;

}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    padding: 10px 0px;

}

.nav-toggle-btn {
    display: block;
    position: absolute;
    left: 200px;
    width: 170px;
    height: 35px;
    background: black;
}

* {
    margin: 0;
    padding: 0;
}

.active-nav nav {
    transform: translate3d(0, 0, 0);

}

#chart2, #chart5 {
    padding-top: 20px;

    width: auto;

}

#chart4 {
    height: auto;

}

.notes {
    padding-left: 60px;
}

.pebble {
    margin-bottom: 30px;

    background-color: #042029;
    max-width: 350px;
    height: 150px;
    font-size: 1.8em;
    text-align: center;
}

#shortage-table{
    width: auto;
}