{% extends "layouts/base.html" %}

{% block body%}
<div class="container-fluid">
    <h2>Simulation</h2>
    <div class=" row">
        <div class="scribble-panel">
            <div class="form-group">

                <div class="col-md-3">
                    <label id="runs-label" for="runs-input">Runs:</label>
                    <input class="form-control input-lg" id="runs-input" type="text">
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>


    <div class=" row">
        <div id="sim" class=" col-lg-11">
            <table id="simulation-table" class=" ia table-responsive table ">
                <thead>
                <tr id='first'>
                    <th>SKU</th>
                    <th>Max qty sold</th>
                    <th>std opening stock</th>
                    <th>avg closing stock</th>
                    <th>STD. Backlog</th>
                    <th>Percentage Stock Out</th>
                    <th>Min Closing Stock</th>
                    <th>Avg. Opening Stock</th>
                </tr>
                </thead>
                {% for item in sim %}
                <tbody>
                <tr>
                    <td><a href="sku_detail/{{item.sku_id}}"> {{item.sku_id}}</a></td>
                    <td>{{item.maximum_quantity_sold}}</td>
                    <td>{{item.standard_deviation_opening_stock}}</td>
                    <td>{{item.average_closing_stock}}</td>
                    <td>{{item.standard_deviation_backlog}}</td>
                    <td>{{item.stockout_percentage}}</td>
                    <td>{{item.minimum_closing_stock}}</td>
                    <td>{{item.average_opening_stock}}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}