{% extends "layouts/base.html" %}

{% block body%}
<div class="container-fluid">
    <h2>Simulation</h2>
    <div class=" row">
        <div class="scribble-panel">
            <div class="form-group">

                <div class="col-md-3">
                    <label id="runs-label" for="runs-input">Runs:</label>
                    <input class="form-control input-lg" id="runs-input" type="text">
                </div>
                <div class="col-md-3">
                    <button id="simulate-btn" class=" btn btn-sm btn-primary"
                            aria-pressed="false">Run Simulation
                    </button></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>


    <div class=" row">
        <div id="sim" class=" col-lg-11">
            {% for item in sim %}
            <div class="row">
                <div id="{{item.sku_id}}" class="recommendation-panel rec-panel">
                    {{item.sku_id}}
                    {{item.maximum_quantity_sold}}
                    {{item.standard_deviation_opening_stock}}
                    {{item.average_closing_stock}}
                    {{item.standard_deviation_backlog}}
                    {{item.stockout_percentage}}
                    {{item.minimum_closing_stock}}
                    {{item.average_opening_stock}}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}