<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>supplychainpy Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='auxiliary.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='auxiliary.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
</head>

<body>

<nav class="active-nav">
    <a href="#" class="nav-toggle-btn">
        <img src="{{ url_for('static', filename='logo.png') }}">
    </a>
    <ul>
        <li><a href="{{url_for('raw_data')}}">Raw Data</a></li>
        <li><a href="/">Reports</a></li>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/">Reports</a></li>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/">Reports</a></li>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/">Reports</a></li>
    </ul>

</nav>
<script>

(function toggle_nav() {
    var bodyElement = $('body'),
        navToggleBtn = bodyElement.find('.nav-toggle-btn');

    navToggleBtn.on('click',function (e) {
        bodyElement.toggleClass('active-nav');
        e.preventDefault();
    })
})();
</script>
<div class="content container-fluid">
    {% block body%}
    {% endblock %}

</div>





</body>




