<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>supplychainpy Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='auxiliary.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='flotr2.js') }}"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
</head>

<body>

<nav class="active-nav">
    <a href="#" class="nav-toggle-btn">
        <img src="{{ url_for('static', filename='logo.png') }}">
    </a>
    <ul id="nav-list-settings">

        <li>
            <a class="nav-tabs" href="{{url_for('raw_data')}}">
                <div class=" row sub-row">
                    <div class="  col-md-11"><img src="{{ url_for('static', filename='data.png') }}"></div>

                </div>
            </a>
        </li>

        <li>
            <a class="nav-tabs" href="/">
                <div class=" row sub-row">
                    <div class="col-md-11"><img src="{{ url_for('static', filename='dash.png') }}"></div>
                </div>
            </a>
        </li>
        <li>
            <a class="nav-tabs" href="{{url_for('feed')}}">
                <div class=" row sub-row">
                    <div class="col-md-11"><img src="{{ url_for('static', filename='reporting.png') }}"></div>
                </div>
            </a>
        </li>
        <li>
              <a class="nav-tabs" href="{{url_for('bot')}}">
                  <div class=" row sub-row">
                      <div class="col-md-11"><img src="{{ url_for('static', filename='bot_icon.png') }}"></div>
                  </div>
              </a>
          </li>
        <li>
            <a class="nav-tabs" href="{{url_for('about')}}">
                <div class=" row sub-row">
                    <div class="col-md-11"><img src="{{ url_for('static', filename='information.png') }}"></div>
                </div>
            </a>
        </li>
    </ul>
</nav>
<script>
    (function toggle_nav() {
        var bodyElement = $('body'),
                navToggleBtn = bodyElement.find('.nav-toggle-btn');

        navToggleBtn.on('click', function (e) {
            bodyElement.toggleClass('active-nav');
            e.preventDefault();
        })
    })();
</script>
<div class="content container-fluid">
    {% block body%}
    {% endblock %}</div>
</body>
</html>
