{% extends "base.html" %}

{% block body%}
<div>

    {% for sku in inventory %}

    {{sku.sku_id}}
    {{sku.quantity_on_hand}}

    {% endfor %}

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>

    </div>

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
    </div>

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
    </div>

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
    </div>

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
    </div>

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
    </div>

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
    </div>

    <div class=" row">
        <div class=" slate col-md-3">
            <h1>Biggest Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Shortage as % Inventory </h1>
            <h1><strong>10</strong></h1>
        </div>
        <div class=" slate col-md-3">
            <h1>Total Shortage: </h1>
            <h1><strong>KR202-235</strong></h1>
            <h1><strong>$11,405,156</strong></h1>
        </div>
    </div>


</div>

{% endblock %}